In [1]:
import datetime as dt
from datetime import date
import os
import sys
import numpy as np
import pandas as pd
from glob import glob
import sqlalchemy
import pymysql
import time, datetime
from datetime import datetime, timedelta
from datetime import timedelta, date
import time
from numpy import sort

In [5]:
base = pd.read_csv(r'../NPS_Bulky/analise_dummy_ou_outros.csv', sep=';', encoding='ISO-8859-1')
base = pd.DataFrame(base)
base.head()

C:\Users\marcus.boas\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3378: DtypeWarning: Columns (48,49,54,56,57,59,60) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,customer_answer,created_at,tipo_pedido_nps,tipo_venda,pv_pai,cidade_cliente,pedped,cep,chave_nfm,chave_ped,...,[[entrega]] Achei o prazo de entrega muito longo.],[[entrega]] Achei o valor do frete muito alto.],[[entrega]] Não foi possível agendar a entrega.],"[atendimento]] (aberta) Outro. Por favor, especifique:]",(aberta) Como foi sua experiência enquanto esperava o seu produto?,[compra]] (aberta) Foi fácil realizar sua compra?],"[entrega]] (aberta) Por favor, nos conte mais sobre a sua experiência.",[entrega]] (aberta) Você ficou satisfeito(a) com a entrega?,"[pagamento]] (aberta) Visando melhorar essa experiência, você pode contar quais d","[produto]] (aberta) Por favor, nos conte mais sobre a sua resposta"
0,10,18/10/2022 12:19,Mista,1,28162012,SAO PAULO,28162014,8215320,Z281620146939517,Z28162014505983,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10,10/10/2022 13:40,1P,1,28096157,ITATIBA,28096158,13253590,Z280961586904279,Z28096158593322,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10,18/10/2022 13:11,1P,1,27804324,BAURU,27804325,17017589,Z278043256918543,Z27804325199926,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10,06/10/2022 12:35,1P,1,28032244,MOGI DAS CRUZES,28032245,8780280,Z280322456852573,Z28032245653320,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10,27/10/2022 15:11,1P,1,28214644,OLINDA,28214645,53080550,Z282146456968390,Z28214645588778,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
teste1 = pd.DataFrame({'Cor':['Vermelho', 'Amarelo', 'Vermelho','Vermelho','Vermelho','Verde', 'Amarelo','Verde'],
                        'Contador':[1,1,0,1,0,1,1,1]})
teste1

        Cor  Contador
0  Vermelho         1
1   Amarelo         1
2  Vermelho         0
3  Vermelho         1
4  Vermelho         0
5     Verde         1
6   Amarelo         1
7     Verde         1

In [7]:
temp_Var=teste1.groupby('Cor')['Contador'].sum()
temp_Var

Cor
Amarelo     2
Verde       2
Vermelho    2
Name: Contador, dtype: int64

In [8]:
teste1= teste1.merge(temp_Var, left_on='Cor', right_on='Cor', how='left')
teste1

        Cor  Contador_x  Contador_y
0  Vermelho           1           2
1   Amarelo           1           2
2  Vermelho           0           2
3  Vermelho           1           2
4  Vermelho           0           2
5     Verde           1           2
6   Amarelo           1           2
7     Verde           1           2

In [10]:
teste1.rename(columns={"Contador_y":"novonome"}, inplace=True)
teste1

        Cor  Contador_x  novonome
0  Vermelho           1         2
1   Amarelo           1         2
2  Vermelho           0         2
3  Vermelho           1         2
4  Vermelho           0         2
5     Verde           1         2
6   Amarelo           1         2
7     Verde           1         2